.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 5.5em;
  text-align: center;
  line-height: 100%;
  font-family: Prompt;
}

.gradientText {
  font-size: 7rem;
}

.badges {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.form {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 20vw;
  background-color: #202020;
  border: 0.8px solid white;
  border-radius: 5px;
  color: white;
  font-family: Dosis;
  font-size: 1.3rem;
  padding: 1rem;
}

.formButton {
  /* width: 5vw; */
  background-color: #202020;
  color: white;
  font-family: Bebas Neue;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0.8px solid white;
  padding: 5px 2rem;
}

.formButton:hover {
  cursor: pointer;
  background-color: white;
  color: #202020;
}

.formButton:disabled {
  background-color: transparent;
  color: #585757;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 1vw;
}

.success p {
  margin-left: 10px;
  font-size: 1.5rem;
}
/* Media queries */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container h2 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 100%;
  }

  .gradientText {
    font-size: 5rem;
  }

  .badges {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1em;
  }
}
