.container {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* padding: 0 10%; */
  margin: 0 auto;
}

.container h3 {
  font-size: 8em;
  text-align: center;
  line-height: 90%;
  margin-bottom: 5%;
}

.container p {
  width: 90%;
  text-align: justify;
}

.mission {
  display: flex;
  justify-content: space-evenly;
}

.mission div {
  flex: 1;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 5vh;
  }
  .container h3 {
    font-size: 10vw;
    text-align: center;
    line-height: 1;
    margin-bottom: 5%;
  }

  .gradient {
    font-size: 15vw;
  }

  .container p {
    width: 100%;
    text-align: center;
    text-align: justify;
  }

  .mission {
    display: flex;
    flex-direction: column;
  }
}
