.wrapper {
  width: 80%;
  height: 16vh;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  background-image: url("../../public/images/noise.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
  margin-bottom: 5vh;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  margin: auto;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  font-family: Prompt;
}

.logoContainer {
  width: 3vw;
}

.credits {
  font-family: IBM Plex Mono;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
    height: 20vh;
    margin-bottom: 5%;
    padding-left: 2vw;
    padding-top: 2vw;
  }
  .nav ul li {
    display: block;
    margin-bottom: 5%;
    font-size: 0.9rem;
  }

  .logoContainer {
    width: 10vw;
  }
}
