.main {
  width: 100%;
}

.header {
  width: 100vw;
  position: fixed;
  /* height: 5vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 9999;
}

/* ---------- Header dynamic styles ----------- */

.transparent {
  background: transparent;
  transition: background-color 1s;
}
.dark {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  transition: background-color 2s;
}

/* ------------------------------------------------*/

.header nav {
  display: flex;
  flex: 2;
}

.header nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-around;
  color: rgb(163, 163, 163);
}

.header nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.logo {
  flex: 1;
}

.logo div {
  width: 4vw;
  height: 4vw;
  overflow: hidden;
  background: #090909;
  border: 20px;
  border-radius: 20%;
}

.buttonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu {
  display: none;
}

.menuWrapper {
  display: none;
}

/* Media Queries */

/* 
# Mobile
only screen and (min-width: 480px)

# Tablet
only screen and (min-width: 768px) 

# Desktop
only screen and (min-width: 992px)

# Huge
only screen and (min-width: 1280px) 
*/

/* When the browser is at least 768px and below */
@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    position: fixed;
    /* height: 5vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8%;
    z-index: 9999;
  }

  .header nav ul {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  .logo div {
    width: 8vw;
    height: 8vw;
  }

  .menu {
    display: block;
  }

  .menuWrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #111;
    z-index: 9998;
    padding-top: 15%;
  }

  .menuWrapper ul {
    color: white;
    list-style: none;
    font-size: 1.3em;
    /* font-weight: bold; */
  }
  .menuWrapper ul li {
    color: white;
    list-style: none;
    border-bottom: 1px solid white;
    width: 80%;
    padding-top: 5%;
    line-height: 8vh;
  }

  .menu button {
    background: transparent;
    border: 0;
  }
}
