.wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.logoContainer {
  position: relative;
  width: 10vw;
  /* aspect-ratio: 3.5; */
  object-fit: contain;
  overflow: hidden;
  padding: 5vh 0 5vh 0;
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .logoContainer {
    width: 25vw;
  }
}
